/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


	
.my-button {
	-fx-border-style:solid;
	-fx-border-width:1px;
	-fx-border-radius:10;
	-fx-font: bold 20pt "sans-serif";
	-fx-background-color:grey;
	}

.textField {
	-fx-font: bold 15pt "sans-serif";
}

